<div class="row">
    <h1>Hard y Soft Skills</h1>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [showUnits]="false"
        [title]="'HTML'"
        [titleColor]="'purple'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'purple'"
        [animation]="true"
        [animationDuration]="380"
    ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="75"
        [radius]="100"
        [showUnits]="false"
        [title]="'CSS'"
        [titleColor]="'purple'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'purple'"
        [animation]="true"
        [animationDuration]="380"
    ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="55"
        [radius]="100"
        [showUnits]="false"
        [title]="'JS'"
        [titleColor]="'purple'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'purple'"
        [animation]="true"
        [animationDuration]="380"
    ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [title]="'GITHUB'"
        [titleColor]="'purple'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'purple'"
        [animation]="true"
        [animationDuration]="380"
    ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [showUnits]="false"
        [title]="'INGLES'"
        [titleColor]="'purple'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'purple'"
        [animation]="true"
        [animationDuration]="380"
    ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="88"
        [radius]="100"
        [showUnits]="false"
        [title]="'TRABAJO GRUPAL'"
        [titleColor]="'purple'"
        [titleFontSize]="'1.3em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'purple'"
        [animation]="true"
        [animationDuration]="380"
    ></circle-progress>
    </div>   
</div>
