<div class="row">
    <h1>​Educación​</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Primaria - Escuela N° 6393 Pablo Pizzurno - Rafaela</h2> <h2> | </h2> <h3>2009 - 2015</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam vitae dignissimos nulla porro incidunt quidem id rerum, maiores doloribus temporibus tempore? Exercitationem ad veritatis pariatur tenetur rem fuga, soluta repellat?</p>
        </ul>
        <ul>
            <li>
                <h2>Secundaria - EESO N° 505 Mahatma Gandhi - Rafaela</h2> <h2> | </h2> <h3>2016 - 2020</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam vitae dignissimos nulla porro incidunt quidem id rerum, maiores doloribus temporibus tempore? Exercitationem ad veritatis pariatur tenetur rem fuga, soluta repellat?</p>
        </ul>
        <ul>
            <li>
                <h2>Curso Argentina Programa - #SeProgramar</h2> <h2> | </h2> <h3>2021</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam vitae dignissimos nulla porro incidunt quidem id rerum, maiores doloribus temporibus tempore? Exercitationem ad veritatis pariatur tenetur rem fuga, soluta repellat?</p>
        </ul>
    </div>
</div>
