.row {
    padding: 20px;
    background-color: rgb(69, 216, 221);
    font-family: candara;
}

h2 ,h3 {
    box-shadow: 12px 12px 35px black;
    display: inline-flex;
    border: 1px solid black;
    text-align: center;
    background: linear-gradient(rgb(69, 216, 221), white);
    padding: 4px;
    font-size: 40px;
}

h1 {
    display: inline;
    background-color: rgb(36, 36, 36);
    color: white;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
}

p {
    box-shadow: 12px 12px 35px black;
    border: 1px solid black;
    background: linear-gradient(rgb(69, 216, 221), white);
    text-align: center;
    font-size: 19px;
}

img {
    box-shadow: 12px 12px 35px black;
    width: 342px;
    height: 210px;
}

td {
    padding: 20px;
    border-bottom: 2px solid black;
}

.btn-dark:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}

@media (max-width: 1290px) {
    .img-proyectos {
        width: 200px;
        height: 200px;
    }

    .row {
        padding: 0%;
    }

    td {
        display: block;
        border: 0px;
        text-align: center;
    }

    tr {
        border-bottom: 5px solid black;
    }
}