<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Trabajo Numero 1</h2> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam vitae dignissimos nulla porro incidunt quidem id rerum, maiores doloribus temporibus tempore? Exercitationem ad veritatis pariatur tenetur rem fuga, soluta repellat?</p>
        </ul>
        <ul>
            <li>
                <h2>Trabajo Numero 2</h2> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam vitae dignissimos nulla porro incidunt quidem id rerum, maiores doloribus temporibus tempore? Exercitationem ad veritatis pariatur tenetur rem fuga, soluta repellat?</p>
        </ul>
        <ul>
            <li>
                <h2>Trabajo Numero 3</h2> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam vitae dignissimos nulla porro incidunt quidem id rerum, maiores doloribus temporibus tempore? Exercitationem ad veritatis pariatur tenetur rem fuga, soluta repellat?</p>
        </ul>
    </div>
</div>
